<ilpn-page-layout>
    <h2>TODO title</h2>
    <hr>

    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
        <ilpn-file-upload [fileDisplay]="FD_LOG" [showText]="log === undefined" (fileContent)="processLogUpload($event)" descriptionText="Drop a .XES log file here"></ilpn-file-upload>
        <ilpn-file-upload [fileDisplay]="FD_CONCURRENCY" [showText]="concurrency === undefined" (fileContent)="processConcurrencyUpload($event)" descriptionText="Drop a concurrency file here"></ilpn-file-upload>

        <div fxLayout="column" fxLayoutAlign="center start" class="toggles">
            <mat-slide-toggle [formControl]="fcCleanLog" fxFlexAlign="center" class="slider"><span class="font">process only <i>complete</i> events</span></mat-slide-toggle>
            <mat-slide-toggle [formControl]="fcAddStartStop" fxFlexAlign="center" class="slider"><span class="font">add start/stop events</span></mat-slide-toggle>
            <mat-slide-toggle [formControl]="fcRemovePrefixes" fxFlexAlign="center" class="slider"><span class="font">remove prefix traces</span></mat-slide-toggle>
        </div>

        <ilpn-file-download [fileDisplay]="FD_PN" [disabled]="result === undefined" [files]="result" descriptionText="Click to download partial orders"></ilpn-file-download>
    </div>

</ilpn-page-layout>
